body{
    background-color: #FFFFCC;
    margin: 0px auto 0px auto;
    padding: 0px;
    text-align: center;
    font-size: 12px;
    font-family:'microsoft yahei',Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6, p, blockquote, pre, code, del, dfn, em, img, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, button, input, table, caption, tbody, tfoot, thead, tr, th, td, menu {
    margin:0;
    padding:0;
}

a{ text-decoration:none; color:#333;}
a:link,a:visited,a:hover,a:active{text-decoration:none;}

.clearfix:before,.clearfix:after{ content:''; line-height:0; display:table;}
.clearfix:after{ clear:both }

.line { border: 1px solid red;}